*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    text-align: center;
}
.about p{
    padding: 10px;
}
.section{
    display: flex;  
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2%;
   
}
.parent{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
  

}
.child{
    background-color: slategray;
    padding: 0px;
    border: 1px solid red;
    width: 200px;
    height: auto;
   
}

.boximg{
    width: 198px;
    height: 200px;
}
.boximg img{
    width: 100%;
    height: 100%;
}
.child del{
    text-align: center; float: left;
    font-weight: 200;
    padding-left: 05px;
}
.child h3{
 font-weight: 200;
 float: right;   
 padding-right: 5px;
}
button{
    padding: 05px;
    background-color: white;
    border-radius: 05px;
   margin-top: 5px;
    margin-left: 1px;
    float: left;

}
.call{
    float: right;
    padding: 05px;
    margin-bottom: 1px;
    border-radius: 05px;
}